<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anxi.activiti.dao.ActCustomByteArrayMapper">

    <resultMap id="byteArrayResultMap" type="com.anxi.activiti.model.ActCustomByteArrayEntity">
        <id property="id" column="ID_" jdbcType="VARCHAR" />
        <result property="revision" column="REV_" jdbcType="INTEGER"/>
        <result property="name" column="NAME_" jdbcType="VARCHAR"/>
        <result property="deploymentId" column="DEPLOYMENT_ID_" jdbcType="VARCHAR"/>
        <result property="bytesStr" column="BYTES_" jdbcType="LONGVARBINARY" typeHandler="com.anxi.activiti.component.MyBlobTypeHandler"/>
    </resultMap>

    <select id="findByDeploymentId" parameterType="java.lang.String" resultMap="byteArrayResultMap">
        select * from act_ge_bytearray where deployment_id_ = #{deploymentId}
    </select>

    <select id="findByDeployIdAndName" parameterType="com.anxi.activiti.vo.ActByteArrayQuery" resultMap="byteArrayResultMap">
        select * from act_ge_bytearray where deployment_id_ = #{deploymentId} and name_ = #{name}
    </select>

</mapper>